
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');


body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
  font-family: 'Barlow Condensed', sans-serif;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}
